name: Run stock checker

on:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Playwright + Python bindings
        run: |
          python -m pip install --upgrade pip
          python -m pip install playwright

      - name: Install Playwright browsers
        run: |
          python -m playwright install chromium
          python -m playwright install-deps

      - name: Debug Python packages
        run: |
          python -m pip list

      - name: Run script
        run: python check_stock.py
