name: Rakuten Stock Checker

on:
  workflow_dispatch:

jobs:
  check-stock:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Show current directory
        run: pwd

      - name: List files
        run: ls -R .

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./requirements.txt
          pip show playwright || echo "Playwright not installed"
          python -m playwright install
          python -m playwright install-deps

      - name: Confirm playwright installation
        run: |
          pip list | grep playwright || echo "Playwright missing"
          python -c "import playwright" || echo "Python cannot import playwright"

      - name: Run script
        run: python check_stock.py
