name: Stock Check

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install chromium

      - name: Run script
        run: python check_stock.py
